/* Stylesheet for Contact Page */


/* Container formatting */
.container {
    border: 1px solid;
    background-color: ivory;
    margin-top: 10px;
    max-width: 750px;
    height: fit-content;
    border-radius: 8px;
}

/* Image formatting */
.col-md-4 img {
    height: 200px;
    width: 200px;
   padding-bottom: 10px;
}

.contact {
    margin-left: 10px;
}


/* "Submit" button padding */
button {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

