/* Stylesheet for Portfolio Page */



h1 {
    text-align: center;
}

/* Container formatting */
.container {
    border: 1px solid;
    background-color: ivory;
    max-width: 100%;
    height: fit-content
    
}

/* Text formatting */
.portfolioContent {
    padding: 15px;
    text-align: center;
    font-size: 30px;

}



/* Image formatting */
.col-sm-12 img {
   margin-left: 130px;
}



